<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=".\static\test.css">
    <style>        
    </style>    
</head>
<body>
<form method="POST" action="/upload" enctype="multipart/form-data">    
    <p><input type="file" name="file" id="file"></p>
    <p>
        <label class=custom_label for="filename">File</label>
        <input type="text" name="filename" size="40" value="{{ filename }}"><br>
        <label class=custom_label for="Status">Status</label>
        <input type="text" name="status" size="40" value="{{ message }}">        
    </p>
    <button type="submit">Upload</button>
</form>
</body>
</html>
