<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/test.css">
        <title>
            Python Test
        </title>
    </head>
    <body>
        <h3>
            Containerized Python
        </h3>
        <p>
            My first stab at containerized Python.<br>
            This is just small sample:<br>
            <form action="/hello" method="post">
                First Name: <input type="text" name="first_name">  <br />
                Last Name: <input type="text" name="last_name" />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>